/* Table added by me */


/* table, caption, tbody, tfoot, thead, tr, th, td, */
/* _includes/_reset.scss sets table settings that I do not seem to be able to overwrite? */

table, caption, tbody, tfoot, thead{
  width: 100%;
  border: 1px solid black;
  padding: 5px;
  margin: 5px;
}
tr, th, td {
  border: 1px solid black;
  text-align: left;
  padding: 10px;
  background-color: #d8d8d8;
}

/* Images side by side */
.row {
  margin: auto;
  display: flex;
  max-width:100%;
}

.column {
  margin: auto;
  flex: 30%;
  padding: 5px;
}

.smallImage {
  margin: auto;
  width: 30%;
  padding: 5px;
}

.sideNote {
  margin: auto;
  display: flex;
  max-width: 80%;
  padding: 5px;
  align: right;
}

/* site*/

.site-description {
  width: 90%;
  padding: 5px;
}
